:root {
    --footer-height: 192px;
    --header-main-height: 100vh;
    
    --light-color: #f0f9ff;
    --mid-color: #0ea5e9;
    --dark-color: #082f49;
}

body {
    background-color: var(--light-color);
}

header {
    height: var(--header-main-height);

    display: flex;
    flex-direction: column;
    justify-content: center;

    background-color: var(--dark-color);
}

.summary {
    margin: 16px;
    padding: 16px;

    position: sticky;
    top: calc(50% - 16px - 3.5rem);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    color: var(--light-color);
    line-height: 1;
}

.temperature {
    margin: 0;

    font-size: 4rem;
}

.city {
    margin: 0;

    font-size: 2rem;
}

.conditions {
    margin: 0;

    font-size: 1rem;
}

main {
    margin: auto;
    padding: 32px;
    max-width: 1440px;
    min-height: var(--header-main-height);

    display: grid;
    grid-template-areas:
        "temp temp"
        "humidity precipprob"
        "windspeed uvindex"
        "sunrise sunset";
    grid-template-columns: 1fr 1fr;
    gap: 32px;

    background-color: var(--light-color);
}

.card {
    border-radius: 16px;
    padding: 16px;

    position: relative;

    display: flex;
    flex-direction: column;
    gap: 16px;
    
    background-color: var(--dark-color);
    color: var(--light-color);
}

.card-header {
    margin: 0;
    font-size: 1.5rem;
    line-height: 1;
}

.card-body {
    flex: 1;

    display: flex;
    justify-content: space-evenly;
    gap: 32px;
}

.figure {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.value {
    margin: 0;
    font-size: 2rem;
    line-height: 1;
}

.caption {
    margin: 0;
    font-size: 1rem;
    line-height: 1;
}

.temp {
    grid-area: temp;
}

.humidity {
    grid-area: humidity;
}

.precipprob {
    grid-area: precipprob;
}

.windspeed {
    grid-area: windspeed;
}

.uvindex {
    grid-area: uvindex;
}

.sunrise {
    grid-area: sunrise;
}

.sunset {
    grid-area: sunset;
}

footer {
    height: var(--footer-height);

    background-color: var(--dark-color);
}

@media (max-width: 768px) {
    main {
        grid-template-areas:
        "temp"
        "humidity"
        "precipprob"
        "windspeed"
        "uvindex"
        "sunrise"
        "sunset";
        grid-template-columns: 1fr;
    }

    .card-body {
        flex-direction: column;
    }
}