:root {
    --header-height: 100vh;
    --nav-height: 64px;
    --section-height: 100vh;
    --footer-height: 160px;
    
    --max-width: 1440px;

    --background-color: #e5e5e5;
    --foreground-color: #f5f5f5;
    --secondary-color: #0a0a0a;
    --accent-color: #0ea5e9;
}

.dark-mode {
    --background-color: #0a0a0a;
    --foreground-color: #171717;
    --secondary-color: #f5f5f5;
    --accent-color: #0ea5e9;
}

* {
    box-sizing: border-box;

    margin: 0;
    padding: 0;

    font-weight: normal;
    font-size: 1rem;
    font-family:
		system-ui,
		'Segoe UI',
		Roboto,
		Helvetica,
		Arial,
		sans-serif,
		'Apple Color Emoji',
		'Segoe UI Emoji';
    
    line-height: 1;

    color: var(--secondary-color);

    transition-duration: .25s;
}

.landing {
    height: var(--header-height);

    background-image: url("images./manila.webp");
    background-position: center;
    background-size: cover;
}

.arrow-scroll {
    position: absolute;
    bottom: 3em;
    height: 3em;
}

.arrow {
    border: solid #f5f5f5;
    border-width: 0 4px 4px 0;
    display: inline-block;
    padding: 0.5em;
    position: absolute;
    top: 0;
    left: 50%;
    transform:
        translateX(-50%)
        rotate(45deg);
}

.arrow:nth-child(2) {
    animation: arrow1 1.5s ease-in-out infinite;
}

.arrow:nth-child(3) {
    animation: arrow2 1.5s ease-in-out infinite;
}

@keyframes arrow1 {
    100% {
        opacity: 0;
        top: 100%;
    }
}

@keyframes arrow2 {
    100% {
        opacity: 0;
        top: 50%;
    }
}

.background {
    height: 100%;
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    backdrop-filter: brightness(50%);

    box-shadow: 0px 4px 12px #00000030, 0px 12px 12px #00000015;
}

.foreground {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.time {
    font-size: clamp(2rem, 10vw, 4rem);
    font-weight: bold;

    color: #f5f5f5;
}

.city {
    font-size: clamp(1rem, 5vw, 2rem);

    color: #f5f5f5;
}

main {
    background-color: var(--background-color);
}

.main-header {
    min-height: var(--nav-height);
    padding: 16px;

    position: sticky;
    top: 0;
    z-index: 1;

    background-color: var(--foreground-color);

    box-shadow: 0px 4px 4px #00000030, 0px 12px 12px #00000015;
}

nav {
    margin: auto;
    max-width: var(--max-width);
    
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.theme {
    min-width: 32px;
    min-height: 32px;
}

.weather {
    margin: auto;
    padding: 32px;
    max-width: var(--max-width);
    min-height: var(--section-height);

    display: grid;
    grid-template-areas:
        "temp temp"
        "humidity precipprob"
        "windspeed uvindex"
        "sunrise sunset";
    grid-template-columns: 1fr 1fr;
    gap: 32px;
}

.card {
    border-radius: 16px;
    border-bottom: 16px solid var(--accent-color);
    padding: 16px;
    min-height: 160px;

    display: flex;
    flex-direction: column;
    gap: 16px;
    
    background-color: var(--foreground-color);
    color: var(--secondary-color);

    box-shadow: 0px 4px 4px #00000030, 0px 12px 12px #00000015;

    animation: slide-up linear, fade-in linear;
    animation-timeline: view();
    animation-range: entry 0%;
}

.card-header {
    border-bottom: 2px solid var(--accent-color);
    padding-bottom: 8px;

    display: flex;
    gap: 8px;

    color: var(--accent-color);
}

.icon {
    height: 24px;
    width: 24px;

    filter: invert(54%) sepia(78%) saturate(1154%) hue-rotate(175deg) brightness(109%) contrast(94%);
}

.card-title {
    font-size: 1.5rem;

    color: var(--secondary-color);
}

.card-body {
    flex: 1;

    display: flex;
    justify-content: space-evenly;
    gap: 32px;
}

.figure {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.value {
    font-size: 2rem;
    font-weight: bold;
}

.caption {
    font-size: 1rem;
}

.temp { grid-area: temp; }
.humidity { grid-area: humidity; }
.precipprob { grid-area: precipprob; }
.windspeed { grid-area: windspeed; }
.uvindex { grid-area: uvindex; }
.sunrise { grid-area: sunrise; }
.sunset { grid-area: sunset; }

footer {
    height: var(--footer-height);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;

    box-shadow: 0px -4px 4px #00000030, 0px 12px 12px #00000015;

    background-color: var(--foreground-color);
}

@media (max-width: 768px) {
    .weather {
        grid-template-areas:
            "temp"
            "humidity"
            "precipprob"
            "windspeed"
            "uvindex"
            "sunrise"
            "sunset";
        grid-template-columns: 1fr;
    }

    .card-body {
        flex-direction: column;
    }
}

@keyframes fade-in {
    from {
        opacity: 0;
    }
}

@keyframes slide-up {
    from {
        transform: translateY(100%);
    }
}

.figure:hover, .theme:hover, a:hover { scale: 1.05; }
.card:hover{ transform: translateY(-4px); }